HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
src/main/java/com/streamingService/stream_client/StreamingServiceDemo.java
src/main/java/com/streamingService/stream_client/DefaultSubscriber.java

### PROPS ###
src/main/resources/application.properties
